// i miei partials
@import '../partials/variables';
@import '../partials/colors';


// variabili e colori di bootstrap (per modificarli)
@import 'bootstrap/bootstrap/bootstrap-5.3.2/scss/functions';
@import 'bootstrap/bootstrap/bootstrap-5.3.2/scss/variables';
@import 'bootstrap/bootstrap/bootstrap-5.3.2/scss/variables-dark';


// bootstrap
@import 'bootstrap/bootstrap/bootstrap-5.3.2/scss/bootstrap.scss';



// altri stili
// media query
@import 'bootstrap/bootstrap/bootstrap-5.3.2/scss/mixins';

@include media-breakpoint-up(lg){
    .carousel-item{
        flex: 0 0 16.66666666666667%;
    }
    .carousel-control-prev, .carousel-control-next{
        width: 6vh;
        height: 6vh;
    }
}

@include media-breakpoint-only(md){
    .carousel-item{
        flex: 0 0 25%;
    }
    .carousel-control-prev, .carousel-control-next{
        width: 5vh;
        height: 5vh;
    }
}

@include media-breakpoint-down(md){
    .carousel-item{
        flex: 0 0 50%;
    }
    .genres-dropdown{
        font-size: 12px;
    }
    .h1{
        font-size: calc(1rem + 1.5vw);
    }
    .social{
        justify-content: center;
    }
    footer.container{
        width: 100% !important;
    }
    .button-service-code{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .link-secondary{
        font-size: 0.7rem;
    }
    .navbar-brand img{
        width: 70px;
    }
    .nav-right-container{
        svg{
            width: 12px;
        }
        img{
            width: 30px;
            height: 30px;;
        }
    }
    .navbar-toggler{
        display: flex;
        justify-content: center;
        width: 40px;
        span{
            width: 30px;
        }
    }
    .carousel-control-prev, .carousel-control-next{
        width: 4vh;
        height: 4vh;
    }
}



.carousel-control-prev, .carousel-control-next{
    background-color: $carousel-arrows-bg;
}


@import '../partials/anim';
.logo {
    opacity: 0;
    animation: fadeInFromLeft $logo-anim-duration ease-in-out;
    animation-fill-mode: forwards; 
  }


  .nav-item{
    opacity: 0;
    animation: fadeInFromUp $nav-item-anim-duration ease-in-out;
    animation-fill-mode: forwards;
    @for $i from 1 through 5{
        &:nth-of-type(#{$i}){
            animation-delay: 0.7s + ($i * 0.1);
        }
    }
  }

  @for $i from 1 through 4{
  .pop-anim div:nth-child(#{$i}){
    transform: scale(0);
    animation: pop-up $nav-item-anim-duration ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1.6s + ($i * 0.1);;
  }
}

.social-icon:hover{
    fill: white;
    color: white;
}

.search{
    svg, input{
        transition: all 0.3s ease;
    }
    svg{
        order: 2;
    }
    input{
        max-height: 0;
        max-width: 0;
        opacity: 0;
        visibility: hidden;
        border: 1px solid transparent;
        order: 1;
    }
    &:focus{
        svg{
            fill: white;
            order: 1;
        }
        input{
            display: inline !important;
            max-height: 100px;
            max-width: 100px;
            opacity: 1;
            visibility: visible;
            order: 2;
            margin-left: 5px;
        }
    }
    input:focus{
        outline: 0;
        display: inline !important;
        max-height: 100px;
        max-width: 100px;
        opacity: 1;
        visibility: visible;
        order: 2;
        margin-left: 5px;
    }
}

.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 30px black !important;
    }
}


