// override variabili bootstrap:
$body-bg-dark: #141414;
$gray-900: black;
$secondary-darker: #333333;
$header-background: linear-gradient(180deg, rgba(6,6,6,1) 0%, rgba(20,20,20,1) 100%);
$carousel-arrows-bg: color-mix(in srgb, white 10%, transparent 90%);